.mobile-cta-section {
  color: var(--text-light);
  padding: 32px 0;
  margin: 0;

  .mobile-cta-wrapper {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: radial-gradient(
      circle at bottom left,
      rgb(0, 86, 157) 0%,
      var(--dark-blue) 80%,
      var(--dark-blue) 100%
    );
    padding: 20px;
    border-radius: 24px;
  }

  .mobile-cta-top-btn {
    background-color: var(--bg-light);
    color: var(--primary-blue);
    border: 1px solid var(--border-light);
    font-size: 14px;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 12px;
    text-decoration: none;
    display: inline-block;
    align-self: flex-start;
    margin: 0 auto;
  }

  .mobile-cta-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
    color: var(--text-light);
  }

  .mobile-cta-description {
    font-size: 16px;
    line-height: 24px;
    color: var(--text-white-muted);
    margin: 0;
  }

  .mobile-cta-benefits {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    li {
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 16px;
      color: var(--text-light);

      img {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
      }
    }
  }

  .btn-primary {
    width: fit-content;
    margin: auto;
  }

  // Responsive styles
  @media (min-width: 769px) {
    padding: 48px 0;

    .mobile-cta-wrapper {
      max-width: 100%;
      padding: 32px;
      gap: 16px;
      background: linear-gradient(
        40deg,
        rgb(0, 86, 157) 0%,
        rgb(0, 86, 157) 10%,
        var(--dark-blue) 44%,
        var(--dark-blue) 86%,
        rgb(0, 86, 157) 105%,
        rgb(0, 86, 157) 69%
      );
    }

    .mobile-cta-top-btn {
      font-size: 16px;
      padding: 14px 24px;
    }

    .mobile-cta-title {
      font-size: 32px;
      line-height: 40px;
    }

    .mobile-cta-description {
      font-size: 14px;
      line-height: 28px;
      max-width: 500px;
      margin: 0 auto;
    }

    .mobile-cta-benefits {
      gap: 20px;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 20px;

      li {
        font-size: 14px;
        gap: 16px;

        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
