// ========================================
// HOW IT WORKS SECTION STYLES
// ========================================

#section-how-it-works {
  background-color: var(--bg-light);

  .how-it-works-header .left-item,
  .how-it-works-header .right-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
  }

  .section-title {
    margin-top: 16px;
  }

  .section-subtitle {
    text-align: left;
  }

  .how-it-works-content {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;

    .how-it-works-item {
      flex: 1;
      max-width: 410px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .how-it-works-image-container {
        background-color: var(--bg-light-gray);
        border: 1px solid var(--border-light);
        border-radius: 12px;
        padding: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          max-width: 100%;
          height: auto;
        }
      }

      .how-it-works-text {
        display: flex;
        gap: 8px;

        h3 {
          font-size: 14px;
          font-weight: 500;
          color: var(--primary-blue);
          margin: 0;
          white-space: nowrap;
        }

        p {
          font-size: 16px;
          font-weight: 600;
          color: var(--text-dark);
          margin: 0;
          line-height: 1.5;
        }
      }
    }
  }

  // How It Works Swiper Styles
  .how-it-works-header {
    margin-bottom: 40px;

    .title-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      .hat-title {
        margin-bottom: 0;
      }

      .section-title {
        margin-bottom: 0;
      }

      .section-subtitle {
        margin-bottom: 0;
        max-width: 600px;
      }

      .btn-primary {
        margin-top: 10px;
      }
    }
  }

  .how-it-works-swiper-container {
    margin-top: 0;

    .how-it-works-swiper {
      width: 100%;
      height: auto;
      padding: 5px;

      .swiper-slide {
        text-align: left;

        .how-it-works-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 24px;
          padding: 0px;

          .how-it-works-image-container {
            width: 100%;
            border-radius: var(--Radius-rounded-xl, 12px);
            border: 1px solid var(--Border---border, #e4e4e7);
            background: var(--Background---light-background, #fafafa);

            img {
              width: 100%;
              height: auto;
              border-radius: 12px;
            }
          }

          .how-it-works-text {
            text-align: left;

            h3 {
              color: var(--primary-blue);
              font-size: 14px;
              font-weight: 600;
              margin: 0;
            }

            p {
              color: #09090b;
              font-size: 14px;
              line-height: 1.5;
              margin: 0;
            }
          }
        }
      }

      .swiper-pagination {
        position: relative;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        gap: 8px;
        z-index: 20;
      }
    }
  }

  // Responsive
  @media (max-width: 992px) {
    .how-it-works-header {
      margin-bottom: 20px;
    }

    .how-it-works-header .title-wrapper {
      flex-direction: column;
      align-items: start;
    }

    .how-it-works-content {
      flex-direction: column;
      align-items: left;
    }

    .section-subtitle {
      margin: 0;
    }

    .btn-primary {
      text-align: center;

      img {
        margin-bottom: -3px;
      }
    }
  }
}
