// ========================================
// HEADER SECTION STYLES
// ========================================

.site-header-wrapper {
  position: sticky;
  top: 0;
  z-index: 200;
  background-color: transparent;
  backdrop-filter: blur(20px);

  .top-banner {
    background-color: var(--primary-blue);
    color: var(--text-light);

    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      padding-top: 8px;
      padding-bottom: 8px;

      p {
        font-size: 12px;
        font-weight: 500;
        margin: 0;
      }
    }
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background-color: var(--bg-light);
    border-radius: 12px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.04),
      0px 5px 5px 0px rgba(0, 0, 0, 0.03), 0px 12px 7px 0px rgba(0, 0, 0, 0.02),
      0px 21px 8px 0px rgba(0, 0, 0, 0.01), 0px 32px 9px 0px rgba(0, 0, 0, 0);
    margin-top: 20px;
    margin-bottom: 20px;

    .logo {
      img {
        width: 100px;
        height: auto;
        display: block;
      }
    }

    .header-btn {
      padding: 10px 16px;
    }
  }

  // Responsive
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    background-color: white;
    backdrop-filter: none;

    .btn {
      width: auto !important;
    }

    .main-header-wrapper {
      background-color: white;
    }

    .main-header {
      padding: 10px;
      margin: 0;
      box-shadow: none;

      .logo img {
        width: 80px;
      }

      .header-btn {
        font-size: 12px;
        padding: 8px 12px;
      }
    }
  }
}
